body {
    display: flex;
    flex-direction: column;
    font-family: "Roboto";
}

.header, .hero, .footer {
    background-color: #1F2937;
    display: flex;
}

.header {
    padding: 16px 160px;
    align-items: center;
}

.hero {
    padding: 120px 160px;
}

.hlinks {
    margin: 0;
    margin-left: auto;
    list-style: none;
    display: flex;
    gap: 16px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.heroone {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
    flex-wrap: wrap;
    margin-bottom: 5px;
}

.herotwo {
    margin-bottom: 10px;
}

.hlinks, .herotwo {
    font-size: 18px;
    color: #E5E7EB;
    padding: 0;
}

.button, .cta {
    background-color: #3882F6;
    padding: 6px 16px;
    color: #F9FAF8;
    font-weight: bold;
    width: 100px;
    border-radius: 8px;
}

.infohead {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
}

.quotes {
    background-color: #E5E7EB;
}

.quotetext {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.image {
    width: 300px;
    padding: 64px;
    background-color: #E5E7EB;
    display: flex;
    align-items: center;
    justify-content: center;
}

.awesome {
    display: flex;
    flex-direction: column;
}